body {
  font-family: "Winky Sans", sans-serif !important;
}

#top-container {
  background: #d7f5dc;
}

.Hero-Section .hero-text h2 {
  font-size: 50px;
}

.Hero-Section .hero-text p {
  font-size: 20px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw; /* Full width */
  height: auto; /* Maintain aspect ratio */
  min-height: 100%; /* Ensure it covers the height */
  object-fit: cover;
  z-index: -1;
}

#hero-container {
  height: 75vh;
}

.Hero-Section .hero-btn:hover {
  background-color: #27a55a;
}

.Hero-Section {
  min-height: 80vh;
  background: rgba(0, 0, 0, 0.5); /* Optional overlay */
}

.Hero-Section video {
  object-fit: cover;
}

.Hero-Section .btn-warning {
  transition: all 0.3s ease;
}

.Hero-Section .btn-warning:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 193, 7, 0.4);
}

#WWD-icon {
  background-color: yellow;
  color: green;
}

/* Services.css */
.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.icon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin-right: 15px;
  padding: 1rem;
}

.card-title {
  color: #007bff; /* Bootstrap primary color */
}

.card-text {
  color: #555;
}

.nav-link  {
  color: white;
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 9999;
}

/* index.css */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease-out, transform 1s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}
